/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button {
  display: inline-block;
  padding: 1em 3em;
  margin: 0.25em 0.25em 0.25em 0;
  font-family: 'Poppins';
  font-size: 14px;
  color: var(--White);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--Burgundy);
  border: 2px solid var(--Burgundy);
  border-radius: 50px;
  outline: none;
  transition: all 0.35s linear;

  &:hover,
  &:focus,
  &.is-hover {
    color: var(--DarkPurple);
    background-color: var(--Orange);
    border-color: var(--Orange);
  }

  &:active,
  &.is-active {
    color: var(--DarkPurple);
    background-color: var(--Orange);
    border-color: var(--Orange);
  }

  &.is-white {
    color: var(--DarkPurple);
    background-color: var(--White);
    border: 2px solid var(--White);

    &:hover,
    &:focus,
    &.is-hover {
      color: var(--DarkPurple);
      background-color: var(--Orange);
      border-color: var(--Orange);
    }
  }

  &.load-more {
    margin: var(--SmallSpacing) auto;
  }
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.has-icon {
    & img,
    & svg {
      /* make icon align just right */
      position: relative;
      top: -1px;
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      margin-left: 0.25em;

/* svg styling based on orion lab line icons */
      /* adjust style specific for your icon set */
      vertical-align: text-top;
      fill: transparent;
      stroke: #f8f8ff;
    }
  }
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-transparent {
    background-color: var(--Black);
    background-clip: padding-box;
    border-color: var(--Black);

    &:hover,
    &:focus,
    &.is-hover {
      background-color: var(--Black);
      border-color: var(--Black);
    }

    &:active,
    &.is-active {
      background-color: var(--Black);
      border-color: var(--Black);
    }
  }

  /* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-small {
    padding: 0.35em 0.875em;
    font-size: 0.875em;
  }

  &.is-large {
    padding: 0.75em 1.35em;
    font-size: 1.25em;
  }
}

/*----------------------------------------------------------------*\
		FLUID MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-fluid {
    width: 100%;
    margin: 0;
  }
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-ghost {
    color: var(--GreyDark);
    background-color: transparent;

    &:hover,
    &:focus,
    &.is-hover {
      color: var(--White);
      background-color: var(--Black);
      border-color: var(--Black);
    }

    &:active,
    &.is-active {
      color: var(--White);
      background-color: var(--Black);
      border-color: var(--Black);
    }
  }
}

/*----------------------------------------------------------------*\
		BORDERLESS MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-borderless {
    color: var(--GreyDark);
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:focus,
    &.is-hover {
      color: var(--Black);
      background-color: transparent;
      border-color: transparent;
    }

    &:active,
    &.is-active {
      color: var(--Black);
      background-color: transparent;
      border-color: transparent;
    }

    &:first-of-type {
      padding-left: 0;
    }
  }
}

/*----------------------------------------------------------------*\
		GROUPED BUTTONS
\*----------------------------------------------------------------*/

.buttons {
  & button,
  & .button {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.are-grouped {
    display: flex;

    button,
    .button {
      flex: 1;
      margin-right: 0;
      white-space: nowrap;

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  &.button_content {
    margin: 25px auto;
  }
}
