/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins Bold';
	src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins SemiBold';
	src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Poppins Bold';
	margin: 1em 0 .5em 0;
	text-align: center;
}

h1 {
	font-size: 50px;

	&+h2 {
		font-size: 30px;
		font-family: 'Poppins Bold';
		margin-top: -30px;
	}
}

h2 {
	font-size: 32px;
	text-transform: uppercase;
	color: var(--Burgundy);
	font-family: 'Poppins Bold';
}

h3 {
	font-size: 20px;
	margin: 0 auto;

	&+h4 {
		font-size: 20px;
		font-family: 'Poppins Bold';
		margin-top: -20px;
	}
}

h4 {
	font-size: 22px;

	&+h4 {
		font-size: 16px;
		font-family: 'Poppins Bold';
		margin-top: -18px;
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	border: 0;
	height: 2px;
	margin: var(--Spacing) 0;
	background-color: var(--GreyDark);
}

p,
span,
time,
address,
nav,
ul {
	font-family: 'Poppins';
	font-size: 1em;
	line-height: 1.5;
}

strong,
b {
	font-family: 'Poppins Bold';
}

p a {
	font-size: inherit;
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 95%;
	max-width: 800px;
	margin: 20px auto;
	padding: 1em;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		color: var(--Black);
		font-size: 1.15em;
		text-align: center;

		&:last-of-type {
			color: var(--GreyDark);
			font-family: 'Poppins';
			font-size: 1em;
		}
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: .875em;
}