/*-----------------------------------------
  CARD REPEATER
-----------------------------------------*/
section.card-repeater {
  position: relative;
  padding: 200px 0 100px;
  margin-bottom: 100px;
  background-image: linear-gradient(to bottom left, rgba(241, 231, 229, 0.8) 0%, rgba(255, 255, 255, 0.6) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 250px;
    content: '';
    background-image: url('../images/circle-lines.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em;
    text-align: center;

    @media (--800vp) {
      max-width: 800px;
      margin: 0 auto;
    }

    & h3 {
      width: 100%;
      max-width: initial;
      margin: 2em 0 1em;
      font-size: 40px;
      color: var(--Black);
    }

    & article.preview-card {
      position: relative;
      width: calc(50% - 2em);
      margin: 10px 1em;

      @media (--800vp) {
        width: calc(33% - 4em);
        margin: 10px 2em;
      }

      &:hover,
      &:focus {
        &::after {
          opacity: 0.75;
        }
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        width: 200px;
        height: 200px;
        content: '';
        background-image: linear-gradient(to bottom left, var(--Green) 0%, var(--Blue) 100%);
        border-radius: 50%;
        opacity: 0;
        transition: all 0.25s linear;

        @media(--800vp) {
          display: block;
        }
      }

      & img {
        width: 100%;
        border-radius: 50%;
      }

      & .speaker-info {
        width: 100%;
        padding: 0;
        margin: 0;
        transition: all 0.25s linear;

        @media (--800vp) {
          width: calc(100% - 3em);
          padding: 1em 0;
          margin: 0 1.5em;
        }

        & h5 {
          margin: 0;
          font-size: 14px;
        }

        & p {
          margin: 0;
          font-size: 12px;
          line-height: 1;
        }
      }
    }
  }
}
