/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	background-color: var(--Burgundy);
	color: var(--White);
	width: 100%;
}

/*----------------------------------------------------------------*\
	COPYRIGHT
\*----------------------------------------------------------------*/

.copyright {
	padding: 1em;
	position: relative;
	max-width: var(--LargeWidth);
	margin: 0 auto;

	& #element5-credit {
		text-align: center;
		overflow: hidden;
		width: 100%;

		@media(--800vp) {
			position: absolute;
			bottom: 0;
			right: 0;
			width: auto;
		}

		& img {
			transform: translateX(100%);
			transition: all .35s linear;
		}

		&[data-emergence=visible] img {
			transform: translateX(0);
		}
	}

	& .legal {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
	}

	& p {
		margin: 0;
		font-size: .875em;
		line-height: 2;
		text-align: center;
		width: 100%;

		@media(--800vp) {
			text-align: left;
			width: auto;
		}
	}

	& nav {
		& ul {
			margin: 0;
			justify-content: center;

			@media(--500vp) {
				justify-content: flex-end;
			}
		}

		& a {
			padding: 0 .5em;
			font-size: .875em;
			line-height: 2;
			color: var(--White);
		}
	}
}