/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	width: 100%;
	height: auto;
	min-height: 400px;
	align-items: center;
	display: flex;
	position: relative;
	color: var(--White);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&>section {
		position: relative;
		max-width: var(--Width);
		z-index: 3;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	& .overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--Black);
		opacity: .5;
	}
}

/*----------------------------------------------------------------*\
	VIDEO PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	&.has-video {
		min-height: 60vh;
		overflow: hidden;

		& .overlay {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: var(--Black);
			opacity: .5;
		}

		& video {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			width: auto;
			height: auto;
		}
	}
}

/*----------------------------------------------------------------*\
	POST TITLES
\*----------------------------------------------------------------*/
.single-post header {
	color: var(--Black);

	& .post-meta {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		max-width: var(--Width);

		& p {
			margin: 0 0 .25em 0;
		}

		& img {
			border-radius: 50%;
			width: 75px;
			margin-right: 1em;
		}
	}
}