section.icon-slider {

	& h2 {
		margin-bottom: var(--Spacing);
	}

	& .slick-track {
		display: flex;
		align-items: center;
	}

	& .icons {
		width: var(--LargeWidth);
		max-width: 95%;
		margin: 0 auto;

		& .icon {
			padding: 0 1em;

			& img {
				margin: 0 auto;
				max-height: 240px;
			}
		}
	}
}