/*----------------------------------------------------------------*\
	TESTIMONIALS SECTION
\*----------------------------------------------------------------*/
section.testimonials {
	position: relative;
	padding: 2vh 0;
	margin: 0 auto 2px;

	&>.block {
		position: relative;
		z-index: 2;
		max-width: var(--Width);
		width: 90vw;
		margin: 0 auto;
		color: var(--Black);

		& h2 {
			text-align: center;
		}

		& p {
			text-align: center;
		}
	}
}

/*-----------------------------------------
   TESTIMONIALS SLIDER
-----------------------------------------*/
.testimonial-slider {
	position: relative;

	&>svg {
		width: 32px;
		cursor: pointer;
		z-index: 10;
		position: absolute;
		top: calc(50% - 16px);

		&:first-of-type {
			left: 0;

			@media(--800vp) {
				left: -1em;
			}

			@media(--1200vp) {
				left: -3em;
			}
		}

		&:last-of-type {
			right: 0;

			@media(--800vp) {
				right: -1em;
			}

			@media(--1200vp) {
				right: -3em;
			}
		}
	}

	& article {
		margin: 3em auto;
		outline: none;

		& blockquote {
			padding: 1em 2em;

			& p {
				font-size: 18px;
				color: var(--Black);

				&:first-of-type {
					position: relative;
				}

				&:last-of-type {
					margin-top: 0;
				}
			}

			& h4 {
				margin-top: 2em;
			}
		}
	}
}