/*----------------------------------------------------------------*\
	TICKET SELECTION
\*----------------------------------------------------------------*/

.ticket-selections {
  position: relative;
  padding: 64px 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(162.47deg, #ffffff 0%, #f1e7e4 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 260px;
    content: '';
    background-image: url('../images/Arcs.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    @media(--1200vp) {
      background-size: contain;
    }
  }

  & .tickets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    margin: 40px auto 64px auto;

    @media(--800vp) {
      justify-content: space-between;
    }

    & .ticket {
      position: relative;
      width: 360px;
      padding: 24px 16px 40px 16px;
      margin: 40px 0 64px 0;
      background: linear-gradient(315.28deg, #e80000 0%, #8f003d 100%);
      border-radius: 10px;
      box-shadow: 0 20px 25px 0 rgba(51, 51, 51, 0.3);

      @media(--500vp) {
        background: transparent;
        box-shadow: none;
      }

      &:last-of-type {
        background: linear-gradient(135.53deg, #15c4ca 0%, #75c583 100%);

        @media(--500vp) {
          background: transparent;
        }
      }

      & .arcs {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 180px;
        overflow: hidden;
        border-radius: 10px;

        &::after {
          position: absolute;
          bottom: -56px;
          left: -10%;
          z-index: 0;
          width: 120%;
          height: 100%;
          content: "";
          background-image: url('../images/Arcs-white.svg');
          background-repeat: no-repeat;
          background-position: center bottom;
          background-size: cover;
        }
      }

      & > * {
        position: relative;
        z-index: 2;
      }

      & h3 {
        font-size: 26px;
        color: #fff;
        letter-spacing: 1px;
      }

      & p {
        color: #fff;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin: 1em 0 3em 0;
        }

        &.price {
          margin: 0;
          font-family: Poppins Bold;
          font-size: 70px;
          line-height: 1;

          @media(--500vp) {
            font-size: 100px;
          }
        }
      }

      & a.button {
        margin: 0;
      }

      & > svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        display: none;
        filter: drop-shadow(0px 10px 25px rgba(51, 51, 51, 0.3));

        @media(--500vp) {
          display: block;
        }
      }
    }
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  & h2:last-of-type {
    margin-top: 2em;
  }

  & svg#arrow {
    position: absolute;
    top: calc(28% - 120px);
    left: -64px;
    z-index: 0;
    transform: translateY(-50%);

    @media(--800vp) {
      top: calc(50% - 120px);
    }
  }

  & svg#halfcircle {
    position: absolute;
    top: calc(64% + 120px);
    right: -64px;
    z-index: 0;
    transform: translateY(-50%);

    @media(--800vp) {
      top: calc(50% + 120px);
    }
  }

  & svg#circle {
    position: absolute;
    top: 50%;
    left: calc(50% + 56px);
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);

    @media(--800vp) {
      top: 50%;
      left: calc(50% - 56px);
    }
  }
}
