/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSSSTYLE: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	/* SIZING */
	--SmallWidth: 800px;
	--Width: 1024px;
	--LargeWidth: 1300px;
	--LargeSpacing: 100px;
	--Spacing: 50px;
	--SmallSpacing: 25px;
	/* COLORS */
	--DarkPurple: #383264;
	--Orange: #FE941F;
	--Red: #E80000;
	--Burgundy: #8F003D;
	--Green: #75C583;
	--BlueGreen: #007E7B;
	--Blue: #15C4CA;
	--White: #ffffff;
	--GreyLight: #EDEFF1;
	--Grey: #818181;
	--GreyDark: #9CADBC;
	--Black: #404042;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1050vp (min-width: 1050px);
@custom-media --1200vp (min-width: 1200px);

div {

	@media(--500vp) {
		box-sizing: inherit;
	}

	@media(--800vp) {
		box-sizing: inherit;
	}

	@media(--1050vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	background: var(--White);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*----------------------------------------------------------------*\
		WORDPRESS CLASSES
\*----------------------------------------------------------------*/

section {

	& img {
		max-width: 100%;
		height: auto;

		&.alignleft {
			float: left;
			margin: 1em 1em 1em 0;
		}

		&.alignright {
			float: right;
			margin: 1em 0 1em 1em;
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}
}

/*----------------------------------------------------------------*\
		MAIN
\*----------------------------------------------------------------*/
main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	background-image: linear-gradient(to bottom left, rgba(241, 231, 229, 0.8) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/recur-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 60px;
	padding: 1em;
	min-height: 100vh;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		bottom: -50px;
		left: -4em;
		background-image: url('../images/blue-circle.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 200px;
		height: 300px;
		opacity: .85;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 4em;
		right: -4em;
		background-image: url('../images/money-arrow-icon.gif');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 300px;
		height: 300px;

		@media(--800vp) {
			display: block;
			bottom: 2em;
			right: -4em;
			width: 400px;
			height: 400px;
		}

		@media(--1200vp) {
			bottom: -2em;
			right: -7em;
			width: 690px;
			height: 690px;
		}
	}

	&.aside-both,
	&.aside-left,
	&.aside-right {
		max-width: var(--LargeWidth);
		margin: 0 auto;
	}

	& article {
		width: 100%;
		order: 0;
		color: var(--Black);
		max-width: 600px;
		margin-bottom: var(--LargeSpacing);
		z-index: 999;

		@media(--800vp) {
			order: 2;
			margin-bottom: inherit;

			&:first-child,
			&:last-child {
				width: calc(100% - 375px);
			}

			&.aside-both,
			&:only-child {
				order: 0;
				width: 100%;
			}

		}

		@media(--1050vp) {
			&.aside-both {
				width: calc(100% - 750px);
				order: 2;
			}
		}
	}

	& aside {
		width: 350px;
		background-color: var(--Grey);
		padding: var(--SmallSpacing);
		margin: var(--Spacing) auto;

		@media(--800vp) {
			&.is-left {
				margin-right: 25px;
				order: 1;
			}

			&.is-right {
				margin-left: 25px;
				order: 3;
			}
		}

		& .widget {
			margin-bottom: var(--SmallSpacing);

			&:last-of-type {
				margin-bottom: 0;
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		ARTICLE
\*----------------------------------------------------------------*/
article {
	width: 100%;
	height: auto;
	margin: var(--Spacing) auto;
	position: relative;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}
}

/*----------------------------------------------------------------*\
		CENTER CONTAINERS
\*----------------------------------------------------------------*/

section {
	width: 100%;
	margin: var(--LargeSpacing) auto;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}
}

body {
	position: relative;
}

/*----------------------------------------------------------------*\
		IFRAMES
\*----------------------------------------------------------------*/

iframe {
	max-width: 100%;
}