/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FRONT PAGE

\*----------------------------------------------------------------*/

body.home {

	& section.ticket-selections+section.wysiwyg-block {
		max-width: 550px;

		& h2 {
			margin-bottom: 32px;
		}

		& h3 {
			margin-top: 32px;
		}

		& p strong {
			color: #872C4C;
		}
	}

	& section.card-repeater {
		margin-bottom: 0;
	}

	& section.card-repeater+section.banner {
		margin-top: 0;
	}
}