/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav {
	& ul {
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& li {
			list-style: none;

			& a {
				display: block;
				padding: .5em 1em;
				text-decoration: none;
				color: var(--White);
				transition: all .35s linear;

				&:hover,
				&:focus {
					background-color: var(--GreyDark);
					color: var(--White);
				}

				&:active {
					background-color: var(--GreyDark);
					color: var(--White);
				}
			}

			&.current_page_item a,
			&.current-page-ancestor a {
				background-color: var(--Grey);
				color: var(--White);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		HAS DROPDOWN MODIFIER
\*----------------------------------------------------------------*/

nav {
	position: relative;
	z-index: 10000;

	& ul li.menu-item-has-children {
		position: relative;

		&:hover,
		&:focus {
			ul.sub-menu {
				opacity: 1;
				top: 100%;
			}
		}

		& ul.sub-menu {
			display: block;
			position: absolute;
			width: 200%;
			max-width: 200px;
			opacity: 0;
			top: calc(100% - 10px);
			transition: all .35s linear;

			& li {
				& a {
					display: block;
					background: var(--Grey);
					color: var(--White);

					&:hover,
					&:focus {
						background-color: var(--GreyDark);
					}

					&:active {
						background-color: var(--GreyDark);
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		STACKED MODIFIER
\*----------------------------------------------------------------*/

nav.is-stacked {
	& ul {
		display: block;
		max-width: 200px;
	}
}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/

.navigation-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	position: relative;
	background-color: var(--Black);

	& svg {
		/* svg styling based on orion lab line icons */
		/* adjust style specific for your icon set */
		vertical-align: text-top;
		height: 75px;
		width: 75px;
		margin-left: .25em;
		stroke: var(--White);
		fill: transparent;
	}

	&>nav {
		background: transparent;
		height: auto;
		width: 100%;
		overflow: hidden;
		transition: all .5s ease-in-out;

		& ul {
			justify-content: flex-end;
		}
	}
}

/*----------------------------------------------------------------*\
		BREADCRUMBS
\*----------------------------------------------------------------*/
nav.breadcrumbs {
	max-width: var(--Width);
	margin: var(--SmallSpacing) auto;
}